@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    @apply font-black;
}
h2 {
    @apply text-3xl;
    @apply font-bold;
}
h3 {
    @apply text-2xl;
    @apply font-bold;
}
h4 {
    @apply text-xl;
    @apply font-bold;
}

.drop-shadow-headline {
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.7)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.7));
}

.drop-shadow-search {
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.3)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.3));
}